<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latin Results!</h1>
    <p>Your Pig Latin reads: <%= @piglatin_text %>
  </body>
</html>
